@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.react-flow__handle {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.react-flow__edge-textbg {
  stroke: black;
  rx: 0;
}

.react-flow__node {
  border-radius: 0;
}

.react-flow__panel {
  display: flex;
  gap: 10px;
}

.react-flow {
  --xy-edge-stroke-default: #000;
}

.react-flow__handle-top {
  top: 4px;
}
 
.react-flow__handle-bottom {
  bottom: 4px;
}
 
.react-flow__handle-left {
  left: 4px;
}
 
.react-flow__handle-right {
  right: 4px;
}